@import "../../variables";

.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__input {
        width: 100%;
        margin-bottom: 10px;
        font-size: $medium_font-size;
        line-height: 16px;
        &_half {
            width: calc(50% - 8px);
        }
        &_third {
            width: calc(33% - 9px);
        }
    }
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    &__input-title {
        width: 100%;
        color: #606770;
        line-height: 20px;
    }
    &__button {
        height: 36px;
        margin-top: 15px;
        padding: 0 32px;
        background-color: #00a400;
        border: none;
        border-radius: 6px;
        color: #fff;
        font-size: $large_font-size;
        font-weight: 600;
        letter-spacing: 1px;
        cursor: pointer;
        &:hover {
            background: linear-gradient(#67ae55, #578843);
            background-color: #69a74e;
            box-shadow: inset 0 1px 1px #a4e388;
            border-color: #3b6e22 #3b6e22 #2c5115;
        }
    }
}
.input {
    padding: 11px;
    border-radius: 5px;
    border: 1px solid #ccd0d5;
    outline: none;
    color: #1c1e21;
}